body {
    margin: 0;
    padding: 0;
}
.iconscontainer {
    position: absolute;
    top: 350px;
    left: 20px;

    &_icon {
        width: 20px;
        height: 20px;
        margin-top: 15px;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.contentrowone {
    margin: 0;
    padding: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 24%, rgba(243,243,255,1) 100%);
    height: 600px;

    &_container {
        display: flex;
        width: 992px;
        margin: 0 auto;

        &__booking {
            flex: 1;
            margin-top: 200px;
            color: #4E4D5C;

            h1 {
                margin: 0;
                padding: 0;
                font-size: 40px;
                font-weight: bold;
            }

            p {
                margin: 0;
                margin-top: 15px;
                padding: 0;
                font-weight: 100;
            }

            &-rating {
                background-color: #fff;
                width: 250px;
                margin-top: 20px;

                p {
                    font-weight: bold;
                    color: #000;
                    text-indent: 5px;

                    img {
                        width: 10px;
                        height: 10px;
                    }

                    :nth-child(3) {
                        margin-left: 50px;
                        width: 15px;
                        height: 15px;
                    }
                    :nth-child(4) {
                        width: 15px;
                        height: 15px;
                    }
                    :nth-child(5) {
                        width: 15px;
                        height: 15px;
                    }
                    :nth-child(6) {
                        width: 15px;
                        height: 15px;
                    }
                    :nth-child(7) {
                        width: 15px;
                        height: 15px;
                    }
                }
            }
        }
    
        &__advertising {
            flex: 1;
            margin-top: 150px;
            position: relative;

            &-shadow {
                height: 300px;
                width: 500px;
                background-color: rgba(188,237,231,1);
                z-index: 1;
                position: absolute;
                transform: translate(-15px,-15px);
                border: 1px transparent;
                border-radius: 5px;
            }
    
            &-container {
                height: 300px;
                width: 500px;
                position: relative;
                z-index: 2;

                // &::before {
                //     box-shadow: inset 15px 15px 0 3px rgba(188,237,231,1);
                //     content: "";
                //     display: block;
                //     position: absolute;
                //     top: 0;
                //     width: 100%;
                //     transform: translateY(-25px);
                //     transform: translateX(-25px);
                // }
    
                img {
                    width: 100%;
                    height: 100%;
                    border: 1px transparent;
                    border-radius: 5px;
                }
            }

            &-firstline {
                position: absolute;
                width: 100px;
                height: 3px;
                background-color: #C0ECEB;
                top: 100px;
                right: -60px;
                z-index: 3;
            }

            &-secondline {
                position: absolute;
                width: 150px;
                height: 3px;
                background-color: #8A2BE2;
                z-index: 3;
                top: 120px;
                right: -110px;
            }

            &-dottedgrid {
                width: 130px;
                height: 130px;
                position: absolute;
                top: 220px;
                right: -70px;
                background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQYV2M8fuj5fwYGBgZLO0lGEA0CjFgFYbLINFwLQUEA2LIIBvNIL7MAAAAASUVORK5CYII=);
                opacity: 0.5;
            }
        }
    }

}

.contentrowtwo {
    height: 600px;
    margin-top: 100px;

    &_header {
        text-align: center;
        margin: 0 auto;
        color: #4E4D5C;
    }

    &_container {
        margin: auto;
        width: 992px; 
        display: flex;
        margin-top: 50px;
        
        &__left {
            flex: 1;
            position: relative;
            margin-top: 80px;

            &--shadow {
                height: 300px;
                width: 500px;
                background-color: rgb(233, 227, 252);
                z-index: 4;
                position: absolute;
                transform: translate(15px,-15px);
                border: 1px transparent;
                border-radius: 5px;
            }

            &--imagespace {
                height: 300px;
                width: 500px;
                z-index: 5;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    border: 1px transparent;
                    border-radius: 5px;
                }
            }

            .dottedgrid {
                width: 150px;
                height: 150px;
                position: absolute;
                top: 220px;
                left: -50px;
                background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAI0lEQVQoU2M88Ob1fwYk4CAiyojMh7EZB1AhNvdgdeNwUggAkSQQC0WN0voAAAAASUVORK5CYII=);
                opacity: 0.9;
            }
        }

        &__right {
            flex: 1;

            &--rowheader {
                margin-left: 50px;
                margin-top: 15px;
                padding: 0;
                font-size: 24px;
                color: #C7C2E7;
                text-shadow: 2px 2px #C0ECEB;
            }

            &--rowcontent {
                margin-left: 50px;
                padding: 0;
                margin-top: 5px;
            }
        }
    }
}

.contentrowthree {
    height: 450px;
    margin-top: 50px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 26%, rgba(251,251,251,1) 100%);

    &_header {
        font-size: 32px;
        text-align: center;
    }

    &_container {
        width: 992px;
        margin: 0 auto;
        margin-top: 50px;

        &__firstpannel {
            display: flex;
            flex-basis: 1%;

            &-elementblock {
                flex: 25%;
                display: flex;
                padding: 0;
                margin: 0;

                &--left {
                    display: inline-block;
                    flex: 1;
                    padding: 0;
                    margin: 0;
                }

                &--right {
                    display: inline-block;
                    flex: 2;
                    padding: 0;
                    margin: 0;
                    padding-top: 15px;
                }
            }
        }

        &__secondpannel {
            display: flex;
            flex-basis: 1%;
            margin-top: 50px;

            &-elementblock {
                flex: 25%;
                display: flex;
                padding: 0;
                margin: 0;

                &--left {
                    display: inline-block;
                    flex: 1;
                    padding: 0;
                    margin: 0;
                }

                &--right {
                    display: inline-block;
                    flex: 2;
                    padding: 0;
                    margin: 0;
                    padding-top: 15px;
                }
            }
        }
    }
}

.contentrowfour {
    height: 429px;
    background-color: #FAF7FE;
    

    &_container {
        width: 992px;
        margin: 0 auto;
        display: flex;
        position: relative;
       

        &__dotted {
            width: 30px;
            height: 110px;
            background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQYV2M8fuj5fwYGBgZLO0lGEA0CjFgFYbLINFwLQUEA2LIIBvNIL7MAAAAASUVORK5CYII=);
            position: absolute;
            top: -15px;
            left: -30px;
            z-index: 99;
            margin: 0;
            padding: 0;
            opacity: 0.4;
        }

        &__leftcontainer {
            flex: 1;
            z-index: 32;

            &-image {
                transform: translateY(-60px);
                border: 1px transparent;
                border-top-left-radius: 100px;
                border-top-right-radius: 100px;
                z-index: 35;

                img {
                    z-index: 40;
                }
            }
        }

        &__rightcontainer {
            flex: 1;

            &-header {
                color: #4E4D5C;
                margin-top: 150px;
            }

            &-contact {
                display: flex;
                margin-top: 50px;

                &--messenger {
                    flex: 1;
                    height: 60px;

                    p {
                        padding: 10px;
                        width: 200px;
                        display: flex;
                        text-indent: 20px;
                        color: #fff;
                        border: 1px transparent;
                        border-radius: 10px;
                        background-color: #512885;
                        margin: 0;
                        box-shadow: 11px 36px 95px 1px rgba(81,40,133,0.50);

                        img {
                            width: 30px;
                            height: 30px;
                            
                        }

                        span {
                            margin-top: 5px;
                            text-decoration: none;
                        }
                    }
                }

                &--whatsapp {
                    flex: 1;
                    height: 60px;

                    p {
                        width: 200px;
                        display: flex;
                        text-indent: 20px;
                        color: #fff;
                        border: 1px transparent;
                        border-radius: 10px;
                        background-color:	#69E2D1;
                        margin: 0;
                        padding: 10px;
                        box-shadow: 11px 36px 95px 1px rgba(105,226,209,0.50);

                        img {
                            width: 30px;
                            height: 30px;
                        }

                        span {
                            margin-top: 5px;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}