.footer {
    height: 100px;
    margin-top: 20px;

    &_container {
        width: 992px;
        margin: 0 auto;
        display: flex;
        flex-basis: 1%;

        &__logo {
            flex: 20;
        }

        &__links {
            flex: 60;
            display: flex;
            margin-top: 40px;

            &-items {
                margin-left: 40px;
                
                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        &__sponsors {
            flex: 20;
            display: flex;
            margin-top: 20px;
        }
    }

    &_end {
        text-align: center;
    }
}