.header {
    &_container {
        width: 992px;
        margin: 0 auto;
        height: 150px;
        display: flex;

        &__one {
            flex: 1;
        }

        &__two {
            flex: 2;
            margin: 50px auto;

            &-subelements {
                display: inline-block;
                margin: 0;
                padding: 0 10px;

                img {
                    padding-left: 5px;
                    transform: translateY(1px);
                    width: 10px;
                }

                &:hover {
                    border-bottom: 3px solid#C0ECEB;
                }
            }
        }

        &__three {
            flex: 1;
            margin: 35px auto;
            padding: 0;
            text-align: center;

            div {
                display: inline-block;
                padding: 0;
                margin: 0;
                font-weight: bold;
                
            }

            :nth-child(2) {
                padding-left: 15px;
                border-left: 1px solid;
                margin-left: 20px;
            }
        }
    }
}

.uppergrid {
    width: 80px;
    height: 150px;
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQYV2M8fuj5fwYGBgZLO0lGEA0CjFgFYbLINFwLQUEA2LIIBvNIL7MAAAAASUVORK5CYII=);
    position: absolute;
    top: 80px;
    left: 0;
    z-index: 1;
    margin: 0;
    padding: 0;
    opacity: 0.5;
}