<!DOCTYPE html>
<html>

<head>
    <title>App</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="wrapper">
    {{> partials/header}}
    {{> partials/wrapper}}
    {{> partials/social}}
</div>

</body>

</html>