<div class="header">
    <div class="header_container">
        <div class="header_container__one">
            <div>
                <img src="../media/myswift.PNG">
            </div>
        </div>
        <div class="header_container__two">
            <div class="header_container__two-subelements">Our Story</div>
            <div class="header_container__two-subelements">How it Works</div>
            <div class="header_container__two-subelements">Our Holidays<img src="../media/caret-down.png"></div>
            <div class="header_container__two-subelements">Blog</div>
        </div>
        <div class="header_container__three">
            <div><p>Sign in</p></div>
            <div><p>Register</div>
        </div>
    </div>
</div>

<div class="uppergrid"></div>

