<div class="footer">
    <div class="footer_container">
        <div class="footer_container__logo">
            <img src="../media/myswift.PNG">
        </div>
        <div class="footer_container__links">
            <div class="footer_container__links-items">
                <a href="http://">Terms & Conditions</a>
            </div>
            <div class="footer_container__links-items">
                <a href="http://">Privacy Policy</a>
            </div>
            <div class="footer_container__links-items">
                <a href="http://">Press</a>
            </div>
            <div class="footer_container__links-items">
                <a href="http://">Careers</a>
            </div>
        </div>
        <div class="footer_container__sponsors">
            <div class="footer_container__sponsors-item">
                <img src="../media/sponsor1.PNG">
            </div>
            <div class="footer_container__sponsors-item">
                <img src="../media/sponsor2.PNG">
            </div>
            <div class="footer_container__sponsors-item">
                <img src="../media/sponsor3.PNG">
            </div>
        </div>
    </div>
    <div class="footer_end">&#x24B8; 2019 / My Swift Ltd</div>
</div>