<div class="iconscontainer">
        <div class="iconscontainer_icon">
            <a href="http://"><img src="../media/facebook.png"></a>
        </div>
        <div class="iconscontainer_icon">
            <a href="http://"><img src="../media/instagram-logo.png"></a>
        </div>
        <div class="iconscontainer_icon">
            <a href="http://"><img src="../media/phone-call.png"></a>
        </div>
        <div class="iconscontainer_icon">
            <a href="http://"><img src="../media/whatsapp.png"></a>
        </div>
        <div class="iconscontainer_icon">
            <a href="http://"><img src="../media/messenger.png"></a>
        </div>
    </div>
<div class="contentrowone">
    <div class="contentrowone_container">
        <div class="contentrowone_container__booking">
            <h1>Get your<br> group trip booked</h1>
            <p>without the hassle</p>
            <div class="contentrowone_container__booking-rating">
                <p>feefo
                    <img src="../media/happy.png">
                    <img src="../media/happy.png">
                    <img src="../media/star.png">
                    <img src="../media/star.png">
                    <img src="../media/star.png">
                    <img src="../media/star.png">
                    <img src="../media/star.png">
                </p>
                <p>Independent Service Rating</p>
            </div>
        </div>
        <div class="contentrowone_container__advertising">
            <div class="contentrowone_container__advertising-shadow"></div>
            <div class="contentrowone_container__advertising-container">
                <img src="../media/image1.jpg">
            </div>
            <div class="contentrowone_container__advertising-firstline"></div>
            <div class="contentrowone_container__advertising-secondline"></div>
            <div class="contentrowone_container__advertising-dottedgrid"></div>
        </div>
    </div>
</div>

<div class="contentrowtwo">
    <div class="contentrowtwo_header">
            <h1>How it works</h1>
        </div>
    <div class="contentrowtwo_container">
        <div class="contentrowtwo_container__left">
            <div class="contentrowtwo_container__left--shadow"></div>
            <div class="contentrowtwo_container__left--imagespace">
                <img src="../media/image2.jpg">
            </div>
            <div class="dottedgrid"></div>
        </div>
        <div class="contentrowtwo_container__right">
            <div class="contentrowtwo_container__right--rowheader">01</div>
            <div class="contentrowtwo_container__right--rowcontent">
                Share the burden. Chat to a pro travel planner for advice and recommandations for your ideal trip.
            </div>
            <div class="contentrowtwo_container__right--rowheader">02</div>
            <div class="contentrowtwo_container__right--rowcontent">
                Receive a range of packages, all personalised to you and your group's neeeds.
            </div>
            <div class="contentrowtwo_container__right--rowheader">03</div>
            <div class="contentrowtwo_container__right--rowcontent">
                Any changes? We're on hand to make sure your holiday is just right.
            </div>
            <div class="contentrowtwo_container__right--rowheader">04</div>
            <div class="contentrowtwo_container__right--rowcontent">
                A dedicated trip booking page for each person to sign up and pay separately, that you.
            </div>
            <div class="contentrowtwo_container__right--rowheader">05</div>
            <div class="contentrowtwo_container__right--rowcontent">
                We're on hand when you're away to book activities, restaurants and bars.
            </div>
        </div>
    </div>
</div>

<div class="contentrowthree">
    <div class="contentrowthree_header">The Benefits</div>
    <div class="contentrowthree_container">
        <div class="contentrowthree_container__firstpannel">
            <div class="contentrowthree_container__firstpannel-elementblock">
                <div class="contentrowthree_container__firstpannel-elementblock--left">
                    <img src="../media/picture1.PNG">
                </div>
                <div class="contentrowthree_container__firstpannel-elementblock--right">
                    The ultimate personalised group holiday experience
                </div>
            </div>
            <div class="contentrowthree_container__firstpannel-elementblock">
                <div class="contentrowthree_container__firstpannel-elementblock--left">
                    <img src="../media/picture2.PNG">
                </div>
                <div class="contentrowthree_container__firstpannel-elementblock--right">
                    All you need, all in one place
                </div>
            </div>
            <div class="contentrowthree_container__firstpannel-elementblock">
                <div class="contentrowthree_container__firstpannel-elementblock--left">
                    <img src="../media/picture3.PNG">
                </div>
                <div class="contentrowthree_container__firstpannel-elementblock--right">
                    Find the best deals without hours of trawling online
                </div>
            </div>
            <div class="contentrowthree_container__firstpannel-elementblock">
                <div class="contentrowthree_container__firstpannel-elementblock--left">
                    <img src="../media/picture 4.PNG">
                </div>
                <div class="contentrowthree_container__firstpannel-elementblock--right">
                    Keep in touch, on-the-go, through your favorite messaging apps
                </div>
            </div>
        </div>
        <div class="contentrowthree_container__secondpannel">
            <div class="contentrowthree_container__secondpannel-elementblock">
                <div class="contentrowthree_container__secondpannel-elementblock--left">
                    <img src="../media/picture5.PNG">
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--right">
                    Never pay more, we price-match with leading providers
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--left">
                    <img src="../media/picture6.PNG">
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--right">
                    Less effort and less admin for you
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--left">
                    <img src="../media/picture7.PNG">
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--right">
                    Avoid awkward reinbursment headaches
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--left">
                    <img src="../media/picture8.PNG">
                </div>
                <div class="contentrowthree_container__secondpannel-elementblock--right">
                    100% ATOL protected, naturally  
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contentrowfour">
    <div class="contentrowfour_container">
        <div class="contentrowfour_container__dotted"></div>
        <div class="contentrowfour_container__leftcontainer">
            <div class="contentrowfour_container__leftcontainer-image">
                <img src="../media/phone.PNG">
            </div>
        </div>
        <div class="contentrowfour_container__rightcontainer">
            <div class="contentrowfour_container__rightcontainer-header">
                <h1>Convinced?</h1>
            </div>
            <div class="contentrowfour_container__rightcontainer-subheader">
                <p>Get the ball rolling and chat to us now</p>
            </div>
            <div class="contentrowfour_container__rightcontainer-contact">
                <div class="contentrowfour_container__rightcontainer-contact--messenger">
                    <p><img src="../media/messenger.png"><span>Click for Messenger</span></p>
                </div>
                <div class="contentrowfour_container__rightcontainer-contact--whatsapp">
                    <p><img src="../media/whatsapp.png"><span>Click for WhatsApp</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
